* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #120907;
}
header .navbar-toggler {
  background-color: #cd4b1c;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
header .navbar-toggler:hover {
  background-color: #F6F54D;
  transition: 1s;
}
header .navbar-light .navbar-nav .nav-link {
  color: #cd4b1c;
}
header .navbar-light .navbar-nav .nav-link.active,
header .navbar-light .navbar-nav .show > .nav-link {
  color: rgb(255, 171, 46);
}
header nav {
  color: #cd4b1c;
}
header nav div a img {
  width: 150px;
  height: auto;
  padding-left: 30px;
}
header nav div div ul li {
  text-decoration: none;
  text-shadow: #d5b84f 1px 1px 1px;
}
header nav div div ul li a {
  color: rgb(255, 171, 46);
}

footer {
  font-size: 1.8rem;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.904);
  color: rgb(85, 204, 184);
}
footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer div .divlogo {
  display: grid;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
footer div .divlogo a img {
  width: 150px;
  height: auto;
}
footer div div {
  font-size: 2rem;
  text-align: center;
  color: rgb(85, 204, 184);
  text-shadow: 2px 2px 2px black;
  margin-right: 0;
}
footer div div a img {
  width: 7rem;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (max-width: 480px) {
  footer div div {
    display: flex;
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  footer div div {
    display: flex;
    padding: 30px;
  }
}
@media screen and (max-width: 480px) {
  footer div {
    display: grid;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  footer div {
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  footer {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

main {
  background-color: #553528;
}
main section {
  text-align: center;
}
main section img {
  height: auto;
  width: 50%;
}
main section article {
  color: aliceblue;
}
main section article .p-historia {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  font-size: 1.7rem;
}
main section article .p-historia::first-letter {
  float: left;
  font-size: 4rem;
  line-height: 1;
  margin: 0.2rem;
  margin-right: 0.6rem;
  padding: 1rem;
  background: #e68d08;
  border: 0.2rem solid black;
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  main section article .p-historia::first-letter {
    font-size: 3rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  main section article .p-historia::first-letter {
    font-size: 2rem;
    padding: 0.3rem;
  }
}
@media screen and (max-width: 450px) {
  main section article .p-historia {
    text-align: justify;
    font-weight: 100;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  main section article .p-historia {
    font-weight: 100;
    text-align: justify;
  }
}
main section article .p4-historia {
  margin-top: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.6rem;
}
@media screen and (max-width: 450px) {
  main section article .p4-historia {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  main section article .p4-historia {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
main section article .p5-historia {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
}
@media screen and (max-width: 450px) {
  main section article .p5-historia {
    font-size: 1.5rem;
  }
}

.main-modelos {
  text-align: center;
  background-color: #553528;
  color: aliceblue;
}
.main-modelos .sectionmod {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod {
    display: flex;
    flex-direction: column;
  }
}
.main-modelos .sectionmod div h1 {
  color: #F6F54D;
  text-shadow: 2px 2px 2px black;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod div h1 {
    padding-top: 20px;
    font-size: 2.5rem;
  }
}
.main-modelos .sectionmod div p {
  font-size: 2rem;
  text-align: left;
  margin: 40px;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod div p {
    text-align: justify;
    margin: 20px;
  }
}
.main-modelos .sectionmod img {
  width: 40%;
  height: auto;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod img {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
  }
}
.main-modelos .sectionmod2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.main-modelos .sectionmod2 div h2 {
  color: #F6F54D;
  text-shadow: 2px 2px 2px black;
  font-size: 2.5rem;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod2 div h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
  }
}
.main-modelos .sectionmod2 div p {
  font-size: 2rem;
  text-align: left;
  margin: 40px;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod2 div p {
    font-size: 2rem;
    text-align: justify;
    margin: 20px;
  }
}
.main-modelos .sectionmod2 img {
  width: 40%;
  height: auto;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod2 img {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod2 {
    display: flex;
    flex-direction: column;
  }
}
.main-modelos .sectionmod {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.main-modelos .sectionmod div h2 {
  color: #F6F54D;
  text-shadow: 2px 2px 2px black;
  font-size: 2.5rem;
  text-align: center;
}
.main-modelos .sectionmod div p {
  font-size: 2rem;
  text-align: left;
  margin: 40px;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod div p {
    text-align: justify;
    margin: 20px;
  }
}
.main-modelos .sectionmod img {
  width: 40%;
  height: auto;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod img {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod {
    display: flex;
    flex-direction: column;
  }
}
.main-modelos .sectionmod2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.main-modelos .sectionmod2 div h2 {
  color: #F6F54D;
  text-shadow: 2px 2px 2px black;
  font-size: 2.5rem;
  text-align: center;
}
.main-modelos .sectionmod2 div p {
  font-size: 2rem;
  text-align: left;
  margin: 40px;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod2 div p {
    text-align: justify;
    margin: 20px;
  }
}
.main-modelos .sectionmod2 img {
  width: 40%;
  height: auto;
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod2 img {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .main-modelos .sectionmod2 {
    display: flex;
    flex-direction: column;
  }
}

.main-tutoriales {
  background-color: #553528;
  padding-left: 2rem;
  padding-right: 2rem;
  color: aliceblue;
}
.main-tutoriales h1 {
  color: #F6F54D;
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media screen and (max-width: 450px) {
  .main-tutoriales h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .main-tutoriales section div {
    display: flex;
    flex-direction: column-reverse;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    border: none;
    margin-right: 0;
    text-align: justify;
  }
}
.main-tutoriales section div div {
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media screen and (max-width: 450px) {
  .main-tutoriales section div div {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .main-tutoriales section div div iframe {
    width: 90%;
    height: auto;
    padding: 1rem;
  }
}
.main-tutoriales section div div p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main-tutoriales section div div p {
    font-size: 1.8rem;
    padding-top: 0;
  }
}
.main-tutoriales section div div {
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media screen and (max-width: 450px) {
  .main-tutoriales section div div iframe {
    width: 90%;
    height: auto;
    padding: 1rem;
  }
}
.main-tutoriales section div div p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main-tutoriales section div div p {
    font-size: 1.8rem;
    padding-top: 0;
  }
}
.main-tutoriales section div div {
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media screen and (max-width: 450px) {
  .main-tutoriales section div div iframe {
    width: 90%;
    height: auto;
    padding: 1rem;
  }
}
.main-tutoriales section div div p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main-tutoriales section div div p {
    font-size: 1.8rem;
    padding-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .main-tutoriales {
    padding-top: 2rem;
  }
}

.main-index {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  background-color: #553528;
}
.main-index .hero {
  width: 100%;
  height: 80vh;
  border: solid 2px #0be9d4;
  text-shadow: #070101 3px 3px 3px;
  color: #fafafa;
  background: linear-gradient(rgba(0, 0, 0, 0.5), black), url(../multimedia/images/backhero.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-index .hero h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #fafafa;
  text-shadow: 2px 2px 2px black;
}
@media screen and (max-width: 450px) {
  .main-index .hero h1 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-index .hero h1 {
    font-size: 3.6rem;
  }
}
.main-index .hero p {
  width: 60%;
}
@media screen and (max-width: 450px) {
  .main-index .hero p {
    width: 50%;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-index .hero p {
    width: 50%;
  }
}
.main-index .hero a {
  background-color: #553528;
  text-decoration: none;
  color: #0be9d4;
  font-size: 3rem;
  margin-top: 3rem;
  padding: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .main-index .hero a {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    padding: 5px;
    border-radius: 7px;
  }
}
.main-index .hero .animacion-boton:hover {
  animation: change-size 3s;
}
@keyframes change-size {
  0% {
    font-size: 22px;
  }
  10% {
    font-size: 25px;
  }
  20% {
    font-size: 27px;
  }
  25% {
    font-size: 30px;
  }
  50% {
    background-color: #0c7a7a;
  }
  100% {
    background-color: #0c7a7a;
  }
}
.main-index section h2 {
  font-size: 4rem;
  color: #F6F54D;
  text-shadow: 2px 2px 2px black;
}
@media screen and (max-width: 450px) {
  .main-index section h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-index section h2 {
    font-size: 3rem;
  }
}
.main-index section p {
  color: #e5e5e5;
}
.main-index .reuniones {
  font-size: 2.5rem;
  text-align: center;
  color: #b7ded5;
  text-shadow: 2px 2px 2px black;
  margin-left: 100px;
  margin-right: 100px;
}
.main-index .reuniones img {
  width: 100%;
  height: auto;
  padding: 5px;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main-index .reuniones img {
    align-items: flex-end;
  }
}
.main-index .reuniones h2 {
  padding: 20px;
}
.main-index .reuniones .imagenes-reuniones {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
@media screen and (max-width: 450px) {
  .main-index .reuniones .imagenes-reuniones {
    border: none;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: 250px;
    grid-template-columns: 1fr;
    row-gap: 5px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-index .reuniones .imagenes-reuniones {
    border: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 350px;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
  }
}
.main-index .reuniones .primer-img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
@media screen and (max-width: 450px) {
  .main-index .reuniones .primer-img {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}
.main-index .reuniones div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: -3px 2px 7px 3px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: -3px 2px 7px 3px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: -3px 2px 7px 3px rgba(0, 0, 0, 0.48);
}
@media screen and (max-width: 450px) {
  .main-index .reuniones div img {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}
@media screen and (max-width: 450px) and (min-width: 451px) and (max-width: 960px) {
  .main-index .reuniones div img {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}
.main-index .reuniones div img:hover {
  transform: scale(1.05);
  transition: 1s;
}
@media screen and (max-width: 450px) {
  .main-index .reuniones {
    font-size: 2rem;
    margin: 0;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-index .reuniones {
    font-size: 2rem;
    margin: 0;
  }
}
.main-index .flex-mapa {
  display: flex;
  align-items: center;
  padding: 10rem;
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-index .flex-mapa .map-responsive {
    overflow: hidden;
    padding-bottom: 350px;
    position: relative;
    height: 0;
  }
}
@media screen and (max-width: 450px) {
  .main-index .flex-mapa {
    display: none;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-index .flex-mapa {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 450px) {
  .main-index {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-index {
    font-size: 2rem;
  }
}

.main-contacto {
  background-color: #553528;
  font-size: 2rem;
}
.main-contacto .contactanos h1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  font-size: 3rem;
  color: yellow;
}
@media screen and (max-width: 450px) {
  .main-contacto .contactanos h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-contacto .contactanos h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.8rem;
  }
}
.main-contacto .contactanos h2 {
  font-size: 2.5rem;
  color: #F6F54D;
  text-shadow: 2px 2px 2px #070101;
}
@media screen and (max-width: 450px) {
  .main-contacto .contactanos h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-contacto .contactanos h2 {
    font-size: 2.2rem;
    padding-bottom: 2rem;
  }
}
.main-contacto .form {
  padding: 3rem 20% 3rem 20%;
  color: yellow;
  border: 2px 2px 2px #e68d08;
  text-align: left;
}
@media screen and (max-width: 450px) {
  .main-contacto {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .main-contacto {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
