.main-contacto {
    background-color: #553528;
    font-size: 2rem;

    .contactanos {
        h1 {
            padding-top: 6rem;
            padding-bottom: 6rem;
            text-align: center;
            font-size: 3rem;
            color: yellow;
            ;

            @media screen and (max-width:450px) {
                padding-top: 2rem;
                padding-bottom: 2rem;
                font-size: 2.5rem;
            }

            @media screen and (min-width:451px) and (max-width:960px) {

                padding-top: 2rem;
                padding-bottom: 2rem;
                font-size: 2.8rem;

            }
        }

        h2 {
            font-size: 2.5rem;
            color: nth($colores, 8);
            text-shadow: 2px 2px 2px #070101;

            @media screen and (max-width:450px) {
                font-size: 2rem;
                padding-bottom: 2rem;
            }

            @media screen and (min-width:451px) and (max-width:960px) {
                font-size: 2.2rem;
                padding-bottom: 2rem;
            }


        }
    }

    .form {
        padding: 3rem 20% 3rem 20%;
        color: yellow;
        border: 2px 2px 2px #e68d08;
        text-align: left;
    }

    @media screen and (max-width:450px) {
        font-size: 1.5rem
    }

    @media screen and (min-width:451px) and (max-width:960px) {
        font-size: 1.8rem;
    }

}