
.main-historia {
    background-color: $bg-color-general;

    h1 {
        padding-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
        font-size: 3rem;
        color: yellow;
    }

    section {
        text-align: center;

        img {
            height: auto;
            width: 50%;
        }

        article {
            color: aliceblue;

            .p-historia {
                padding-top: 2rem;
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 200;
                font-size: nth($font-size, 3);

                &::first-letter {
                    float: left;
                    font-size: nth($font-size, 9);
                    line-height: 1;
                    margin: 0.2rem;
                    margin-right: 0.6rem;
                    padding: 1rem;
                    background: nth($colores, 2);
                    border: 0.2rem solid black;

                    @media screen and (min-width:451px) and (max-width:960px) {
                    font-size: nth($font-size, 7);
                    padding: 0.5rem;
                    }

                    @media screen and (max-width:450px) {
                    font-size: nth($font-size, 5);
                    padding: 0.3rem;

                    }
                }

                @media screen and (max-width:450px) {
                    text-align: justify;
                    font-weight: 100;
                    font-size: nth($font-size, 1);
                }

                @media screen and (min-width:451px) and (max-width:960px) {
                    font-weight: 100;
                    text-align: justify;
                }

            }

            .p4-historia {
                margin-top: 4rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: nth($font-size, 2);

                @media screen and (max-width:450px) {
                    font-size: nth($font-size, 1);
                }

                @media screen and (min-width:451px) and (max-width:960px) {
                    margin-top: 2rem;
                    font-size: nth($font-size, 1);
                }
            }

            .p5-historia {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.5rem;

                @media screen and (max-width:450px) {
                font-size: nth($font-size, 1);
                }
            }
        }
    }
}