.main-tutoriales {
    background-color: nth($colores, 5);
    padding-left: 2rem;
    padding-right: 2rem;
    color: aliceblue;

    h1 {
        color: nth($colores, 8);
        font-size: 4rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


        @media screen and (max-width:450px) {
            font-size: 2.5rem;
            text-align: center;

        }
    }

    section {

        div {


            @media screen and (max-width:450px) {

                display: flex;
                flex-direction: column-reverse;
                grid-template-rows: auto;
                grid-template-columns: 1fr;
                border: none;
                margin-right: 0;
                text-align: justify;
            }

            div {
                padding-left: 3rem;
                padding-bottom: 2rem;
                padding-top: 2rem;

                @media screen and (max-width:450px) {
                    padding-left: 1rem;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                }

                iframe {
                    @media screen and (max-width:450px) {
                        width: 90%;
                        height: auto;
                        padding: 1rem;
                    }
                }
            }

            div {
                p {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 1.5rem;
                    padding-top: 2rem;
                    align-items: center;

                    @media screen and (max-width:450px) {
                        font-size: 1.8rem;
                        padding-top: 0;
                    }
                }
            }


        }


        div {
            div {
                padding-left: 3rem;
                padding-bottom: 2rem;
                padding-top: 2rem;

                iframe {
                    @media screen and (max-width:450px) {
                        width: 90%;
                        height: auto;
                        padding: 1rem;
                    }
                }

            }

            div {
                p {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 1.5rem;
                    padding-top: 2rem;
                    align-items: center;

                    @media screen and (max-width:450px) {
                        font-size: 1.8rem;
                        padding-top: 0;
                    }
                }
            }
        }

        div {
            div {
                padding-left: 3rem;
                padding-bottom: 2rem;
                padding-top: 2rem;

                iframe {
                    @media screen and (max-width:450px) {
                        width: 90%;
                        height: auto;
                        padding: 1rem;
                    }

                }
            }

            div {

                p {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 1.5rem;
                    padding-top: 2rem;
                    align-items: center;

                    @media screen and (max-width:450px) {
                        font-size: 1.8rem;
                        padding-top: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width:450px) {
        padding-top: 2rem;
    }
}